

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* SOLUTION  */

body{ 
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin:0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.sidebar{
    color:white;
    background-color: #a21caf;
    height:100vh;
    padding-left: 20px;

}
.menu{
    display: flex;
    flex-direction: column;
}


.menu ul li {
    display: flex;         /* puts icon and text side by side */
    align-items: center;   /* vertically aligns text with icon */
  }
  
.images{
    width:40px;
    background-color: red;
}

ul img{
    filter: brightness(0) invert(1); /* Makes black images white */
    width:30px;
    margin-right:33px;
}
ul li{
    margin-bottom:10px;
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
}
a:visited { text-decoration: none; color: white; }

.personalSettings{
    margin-top: 40px;;
}
.logo{
    filter: brightness(0) invert(1); /* Makes black images white */
    width:50px;
    height:50px;
    margin-right: 10px;
}

.dashboard{
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
ul{
    list-style: none;
}
.text{
    background-color: rgb(213, 0, 0);
}

.rightSide{
    background-color: rgb(99, 99, 99);
    display:grid;
    grid-template-rows: 1fr 5fr;
}
.topPart{
    background-color: rgb(255, 255, 255);
    padding-left: 20px;    
padding-right:20px;
padding-top: 13px;
padding-bottom:10px;
display: flex;
flex-direction: column;
justify-content: space-between;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add this line */
z-index: 1; 

}
.searchAndUsername{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.searchAndIcon{
    display: flex;
    align-items: center;
    gap:10px;
}
.searchIcon{
    width:25px;
}
input[type='search']{

    width:500px;
    border-style: none;
    border-radius: 10px;
    background-color: #f5d0fe;
}

.rightSideBottomPart{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.helloMessage{
    display:flex;
    gap:10px;
    align-items: center;

}
#freeman, #freeman2{
    width:60px;
    border-radius: 50px;
}
#freeman2{
    width:30px;
}
#alertIcon{
    width:30px;
}
.topRightSide{
    display:flex;
    gap:20px;
    align-items: center;

}
#topRightName{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.interactions{ 
    font-size: 15px;
    font-weight: bold;
    border-radius:18px;
    padding:10px 25px;
    border-style: none;
    background-color: #a21caf;
    color:white;
    margin-left: 10px;
}
#pHello{
    font-size: 15px;
    font-weight: bold;
}
#largeUsername{
    font-size: 21px;
    font-weight: bold;
}
.bottomPart{
    background-color: #f5d0fe;

}

.title1{
    display: grid;
grid-template-columns: 2fr 1fr;

}

.projects, .announcements, .trendingTitle{
    padding-top: 20px;
    font-weight: bold;
    font-size: 19px;
}
.projects, .card{
    margin-left:20px;

}
.middlePart{
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    margin-right: 20px;
}
.card{
    border-left-style: solid;
    border-left-color: rebeccapurple;
    background-color: white;
    border-radius: 7px;
    padding:10px 15px;
    border-left-width: 7px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position:relative
}

.share{
    width: 30px;
}
.shareIcons{
    padding-right: 20px;
    padding-bottom: 5px;
    position:absolute;
    bottom:0;
    right:0;

}

.rightSide2 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;

}

.announcementCard{
    margin-top: 20px;
    background-color: white;
    padding:25px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

}



#cardTitle{
    font-weight: bold;
    font-size: 18px;

}

.cardDesc{
    font-size: 10px;
    margin-top: 5px;
    
}
hr {
    border: none;
    border-top: 1px solid rgb(199, 199, 199);
    color: #fff;
    background-color: #fff;
    height: 1px;
  }

.maintenanceTitle{
    font-weight: bold;
}

img[id="account"]{
    object-fit: cover;
    border-radius: 50px;
    width:50px;
    height:50px;
}
.announcementCard2{
    margin-top: 10px;
    background-color: white;
    padding:30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

}
.user{

    display: flex;
    align-items: center;
    gap:10px;
}

.accountID{
    font-weight: bold;
}
.accountP{
    font-size: 11px;
}